:root {
  --primery-background-color: #FFFFFF;
  --secondary-background-color: #2F303A;
  --background-btn-color: #F5F4FA;
  --header-color: #212121;
  --primery-text-color: #212121;
  --secondary-text-color: #757575;
  --thirty-text-color: #2196F3;
  --primery-title-color: #212121;
  --secondary-title-color: #FFFFFF;
  --accent-text-color: #2196F3;
  --icon-text-color: #AFB1B8;
  --border-color: #EEEEEE;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  margin: 0;
  background-color: var(--primery-background-color);
  color: var(--primery-text-color);
  font-family: Roboto, sans-serif;
}

@media screen and (min-width: 320) {
  body {
    overflow-x: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1170px) {
  .container {
    width: 1170px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.modal__btn {
  border: 1px solid #999999;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn:hover, .modal__btn:focus {
  color: var(--accent-text-color);
}

.social {
  display: flex;
  justify-content: center;
}

.social__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--icon-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:focus, .social__link:hover {
  fill: var(--secondary-title-color);
  background-color: var(--accent-text-color);
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(157, 164, 189, 0.52);
  position: fixed;
  top: 0;
  transition: opacity 500ms linear, visibility 500ms linear;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  padding: 40px;
  position: absolute;
  width: 500px;
  min-height: 600px;
  background-color: var(--primery-background-color);
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 500ms linear;
}

.backdrop .modal {
  transition: transform 500ms linear;
}

.modal-close__icon {
  fill: currentColor;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal-form__head {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--header-color);
}

.modal__label {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.modal-form__wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal__input {
  padding-left: 30px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus, .modal__input:hover {
  outline: none;
  border-color: var(--accent-text-color);
}

.modal__message {
  display: block;
  margin-bottom: 20px;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__message:hover, .modal__message:focus {
  outline: none;
  border-color: var(--accent-text-color);
}

.modal__message::placeholder {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__button {
  align-self: center;
  width: 200px;
  height: 50px;
  background-color: var(--accent-text-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--secondary-title-color);
  cursor: pointer;
}

.form__icon {
  text-align: center;
  display: block;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus + .form__icon,
.modal__input:hover + .form__icon {
  fill: var(--accent-text-color);
}

.modal-form-checkbox__label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
  margin-bottom: 30px;
  font-size: 13px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  cursor: pointer;
}

.modal-form-checkbox__label::before {
  display: block;
  content: '';
  width: 16px;
  height: 16px;
  background-color: var(--primery-background-color);
  border: 1px solid var(--icon-text-color);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 6px;
}

.modal-form-checkbox__input:checked + .modal-form-checkbox__label::before {
  background-color: var(--accent-text-color);
  background-image: url(../images/icons.svg/fullcheck.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.modal-form-checkbox__input:focus + .modal-form-checkbox__label::before {
  outline: 2px solid --accent-text-color;
  display: block;
}

.header__logo {
  margin-right: 93px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

.header__logo .web {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--thirty-text-color);
}

.fotter__logo {
  display: inline-block;
  margin-bottom: 20px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}

.fotter__logo .web {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--thirty-text-color);
}

.section__title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--header-color);
}

@media screen and (min-width: 1199px) {
  .section__title {
    margin-bottom: 50px;
  }
}

.menu__button {
  z-index: 850;
  display: flex;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  line-height: 0;
  fill: var(--secondary-text-color);
}

.menu__button:hover, .menu__button:focus {
  fill: var(--accent-text-color);
}

@media screen and (min-width: 767px) {
  .menu__button {
    display: none;
  }
}

.menu__button .menu__icon {
  display: none;
}

.menu__button.is-open .cross__icon {
  display: none;
}

.menu__button.is-open .menu__icon {
  display: block;
}

.mobile__container {
  display: none;
  position: fixed;
  min-height: 100vh;
  top: 0;
  left: 0;
  padding: 48px 40px;
  background-color: #ffff;
  text-align: center;
  font-size: 20px;
  border-radius: 4px;
}

.mobile__container.is-open {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .mobile__container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.mobile__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 150px;
}

@media screen and (min-width: 767px) {
  .mobile__list {
    display: none;
  }
}

.mobile__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--header-color);
}

.mobile__link:hover, .mobile__link:focus {
  color: var(--accent-text-color);
}

.mobile__item:not(:last-child) {
  margin-bottom: 32px;
}

@media screen and (min-width: 767px) {
  .contacts-cotainer {
    display: none;
  }
}

.mobile-contacts {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mobile-contacts__item {
  margin-bottom: 32px;
}

.mobile-contacts__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}

.mobile-contacts__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.mobile-social {
  display: flex;
  justify-content: flex-start;
}

@media screen and (min-width: 767px) {
  .mobile-social {
    display: none;
  }
}

.mobile-social__item {
  padding-right: 10px;
  padding-left: 10px;
}

.mobile-social__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}

.header {
  position: relative;
  border-bottom: 1px solid #ECECEC;
  top: 0;
  left: 0;
  width: 100%;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
}

@media screen and (min-width: 767px) {
  .header__container {
    height: 80px;
  }
}

@media screen and (max-width: 767px) {
  .pageheader__menu {
    padding-top: 60px;
    padding-bottom: 60px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 100;
  }
  .pageheader__menu.is-open {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #ECECEC;
  }
}

@media screen and (min-width: 767px) {
  .pageheader__menu {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
  }
}

.menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 767px) {
  .menu__list {
    flex-direction: row;
  }
}

@media screen and (max-width: 767px) {
  .menu__list {
    display: none;
  }
}

.header__nav {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-color);
}

@media screen and (max-width: 767px) {
  .header__nav {
    margin-bottom: 60px;
  }
}

.menu__item {
  position: relative;
}

@media screen and (max-width: 767px) {
  .menu__item:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 767px) {
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
}

.menu__link {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.menu__link:hover, .menu__link:focus {
  color: var(--accent-text-color);
}

.menu_link__current::after {
  content: "";
  width: 100%;
  position: absolute;
  height: 4px;
  border-radius: 2px;
  bottom: -32px;
  display: block;
  background-color: var(--accent-text-color);
}

@media screen and (max-width: 1200px) {
  .contacts {
    align-items: center;
  }
}

.contacts__item {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__item:focus, .contacts__item:hover {
  fill: var(--accent-text-color);
}

@media screen and (max-width: 767px) {
  .contacts__item {
    margin-bottom: 16px;
    display: none;
  }
}

@media screen and (min-width: 1170px) {
  .contacts__item {
    display: inline-flex;
  }
}

.contacts__tel {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__tel:hover, .contacts__tel:focus {
  color: var(--accent-text-color);
}

@media screen and (min-width: 1170px) {
  .contacts__tel {
    margin-left: 30px;
  }
}

.accent {
  color: var(--thirty-text-color);
}

.contacts__mail {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__mail:hover, .contacts__mail:focus {
  color: var(--accent-text-color);
}

@media screen and (min-width: 1199px) {
  .contacts__mail {
    margin-bottom: 0;
  }
}

.icon__mail,
.icon__telefon {
  fill: var(--secondary-text-color);
  text-align: center;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__mail:hover .icon__mail,
.contacts__mail:focus .icon__mail, .contacts__mail:hover
.icon__telefon,
.contacts__mail:focus
.icon__telefon {
  fill: var(--accent-text-color);
}

.contacts__tel:hover .icon__mail,
.contacts__tel:focus .icon__mail, .contacts__tel:hover
.icon__telefon,
.contacts__tel:focus
.icon__telefon {
  fill: var(--accent-text-color);
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}

@media screen and (min-width: 1170px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--secondary-title-color);
  }
}

.hero__btn {
  border: transparent;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--secondary-title-color);
}

.btn {
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--accent-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {
  background-color: var(--accent-text-color);
  color: var(--secondary-title-color);
  cursor: pointer;
}

.hero {
  text-align: center;
  background-color: var(--secondary-background-color);
  color: var(--secondary-title-color);
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: url("../images/hero/hero-tablet.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-tablet2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-desktop.jpg");
    height: 600px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-desktop2x.jpg");
  }
}

.feature__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primery-title-color);
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .feature__title {
    text-align: center;
  }
}

@media screen and (min-width: 767px) {
  .feature {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
  }
}

@media screen and (min-width: 767px) {
  .feature__item {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1170px) {
  .feature__item {
    flex-basis: calc((100% - 4 * 30px) / 4);
  }
}

.feature__box {
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-size: 100%;
  display: flex;
  background-repeat: no-repeat;
  border-radius: 4px;
  background-color: #F5F4FA;
}

.feature__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

@media screen and (max-width: 768px) {
  .feature__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.about__section {
  padding-top: 0;
}

@media screen and (max-width: 1170px) {
  .about__section {
    display: none;
  }
}

.about {
  display: flex;
}

.about__item {
  position: relative;
}

.about__item:not(:last-child) {
  margin-right: 30px;
}

.about__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.about__text {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}

.section__ourteam {
  background-color: #F5F4FA;
}

@media screen and (min-width: 767px) {
  .company {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: -15px;
  }
}

.company__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}

@media screen and (min-width: 767px) {
  .company__item {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1170px) {
  .company__item {
    flex-basis: calc((100% - 4 * 30px) / 4);
  }
}

@media screen and (max-width: 767px) {
  .company__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.company__title {
  padding-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

.company__text {
  padding-top: 0px;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.company__box {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: var(--primery-background-color);
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: -15px;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #AFB1B8;
  fill: var(--icon-text-color);
  border-radius: 4px;
  width: 100%;
  height: 100%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  fill: var(--accent-text-color);
  border: 1px solid var(--accent-text-color);
}

.clients__item {
  flex-basis: calc((100% - 2 * 30px) / 2);
  height: 90px;
  margin: 15px;
}

@media screen and (min-width: 767px) {
  .clients__item {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 1170px) {
  .clients__item {
    flex-basis: calc((100% - 6 * 30px) / 6);
  }
}

.footer {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .footer__container {
    width: 768px;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
  }
}

@media screen and (min-width: 1170px) {
  .footer__container {
    width: 1200px;
    align-items: baseline;
    justify-content: space-between;
  }
}

.footer__box {
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .footer__box {
    width: 100%;
  }
}

@media screen and (max-width: 1170px) {
  .footer__box:not(:last-child) {
    margin-bottom: 60px;
    text-align: center;
  }
}

.footer__address {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.footer__link {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}

@media screen and (min-width: 1170px) {
  .footer__link {
    margin-bottom: 9px;
  }
}

.footer__mail,
.footer__tel {
  display: block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1170px) {
  .footer__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-social__title {
  margin-right: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}

.footer-social__item {
  margin-right: 10px;
  width: 44px;
  height: 44px;
}

.footer-social__item:last-child {
  margin-right: 0;
}

.footer-social__link {
  width: 100%;
  height: 100%;
  fill: var(--secondary-title-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link:focus, .footer-social__link:hover {
  background-color: var(--accent-text-color);
}

.footer-social__icon {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:focus .footer-social__icon,
.footer-social-link:hover .footer-social__icon {
  background-color: var(--accent-text-color);
}

.footer-social__list {
  padding-top: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1170px) {
  .form {
    width: 570px;
    flex-direction: row;
    align-items: flex-end;
  }
}

.footer__label {
  display: block;
}

@media screen and (max-width: 767px) {
  .footer__label {
    width: 100%;
  }
}

.form__title {
  display: flex;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}

@media screen and (max-width: 1170px) {
  .form__title {
    text-align: center;
    justify-content: center;
  }
}

.footer__input {
  padding: 15px 16px;
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  background-color: var(--secondary-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: var(--secondary-text-color);
}

@media screen and (min-width: 767px) {
  .footer__input {
    width: 450px;
  }
}

@media screen and (min-width: 1170px) {
  .footer__input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.footer__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__button {
  display: flex;
  margin-left: 12px;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.footer__button:active {
  background-color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.footer__send {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

.filter {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

@media screen and (min-width: 767px) {
  .filter {
    justify-content: center;
  }
}

.filter__item {
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .filter__item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

.filter__item:focus, .filter__item:hover {
  background-color: var(--accent-text-color);
  border-radius: 4px;
}

.filter__buttons {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  background-color: var(--background-btn-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__buttons:hover, .filter__buttons:focus {
  border: 0;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-primary {
  background-color: var(--accent-text-color);
  color: var(--secondary-title-color);
}

.foto__list {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primery-text-color);
}

@media screen and (min-width: 768px) {
  .foto__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.foto__item {
  border: 1px solid #EEEEEE;
  border-radius: 5px;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .foto__item {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1170px) {
  .foto__item {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (max-width: 768px) {
  .foto__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.foto__img {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foto__link:hover .overlay,
.foto__link:focus .overlay {
  transform: translateY(0);
}

.text__overlay {
  padding: 63px 24px;
  font-style: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  background-color: rgba(33, 150, 243, 0.9);
}

.portfolio__name {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--header-color);
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.portfolio {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}

.foto__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foto__link:hover, .foto__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
/*# sourceMappingURL=main.css.map */