    .feature__title {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        color: var(--primery-title-color);
        text-transform: uppercase;
        @media screen and (max-width: 767px) {
            text-align: center;
        }
    }
    
    .feature {
        @media screen and (min-width: 767px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: -15px;
        }
    }
    
    .feature__item {
        @media screen and (min-width: 767px) {
            flex-basis: calc((100% - 2 * 30px) / 2);
            margin: 15px;
        }
        @media screen and (min-width: 1170px) {
            flex-basis: calc((100% - 4 * 30px) / 4);
        }
    }
    
    .feature__box {
        margin-bottom: 30px;
        align-items: center;
        justify-content: center;
        height: 120px;
        background-size: 100%;
        display: flex;
        background-repeat: no-repeat;
        border-radius: 4px;
        background-color: #F5F4FA;
    }
    
    .feature__text {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--secondary-text-color);
    }
    
    .feature__item:not(:last-child) {
        @media screen and (max-width: 768px) {
            margin-bottom: 10px;
        }
    }