    .header {
        position: relative;
        border-bottom: 1px solid #ECECEC;
        top: 0;
        left: 0;
        width: 100%;
    }
    
    .header__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 60px;
        @media screen and (min-width: 767px) {
            height: 80px;
        }
    }
    
    .pageheader__menu {
        @media screen and (max-width: 767px) {
            padding-top: 60px;
            padding-bottom: 60px;
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            z-index: 100;
            &.is-open {
                display: flex;
                flex-direction: column;
                align-items: center;
                border-top: 1px solid #ECECEC;
            }
        }
        @media screen and (min-width: 767px) {
            display: flex;
            flex-grow: 1;
            justify-content: space-between;
            align-items: center;
            flex-basis: 100%;
        }
    }
    
    .menu__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and (min-width: 767px) {
            flex-direction: row;
        }
        @media screen and (max-width: 767px) {
            display: none;
        }
    }
    
    .header__nav {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--header-color);
        @media screen and (max-width: 767px) {
            margin-bottom: 60px;
        }
    }
    
    .menu__item {
        position: relative;
        &:not(:last-child) {
            @media screen and (max-width: 767px) {
                margin-bottom: 40px;
            }
            @media screen and (min-width: 767px) {
                margin-right: 50px;
            }
        }
    }
    
    .menu__link {
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--header-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        position: relative;
        &:hover,
        &:focus {
            color: var(--accent-text-color);
        }
    }
    
    .menu_link__current::after {
        content: "";
        width: 100%;
        position: absolute;
        height: 4px;
        border-radius: 2px;
        bottom: -32px;
        display: block;
        background-color: var(--accent-text-color);
    }
    
    .contacts {
        @media screen and (max-width: 1200px) {
            align-items: center;
        }
    }
    
    .contacts__item {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:focus,
        &:hover {
            fill: var(--accent-text-color);
        }
        @media screen and (max-width: 767px) {
            margin-bottom: 16px;
            display: none;
        }
        @media screen and (min-width: 1170px) {
            display: inline-flex;
        }
    }
    
    .contacts__tel {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--secondary-text-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            color: var(--accent-text-color);
        }
        @media screen and (min-width: 1170px) {
            margin-left: 30px;
        }
    }
    
    .accent {
        color: var(--thirty-text-color);
    }
    
    .contacts__mail {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--secondary-text-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            color: var(--accent-text-color);
        }
        @media screen and (min-width: 1199px) {
            margin-bottom: 0;
        }
    }
    
    .icon__mail,
    .icon__telefon {
        fill: var(--secondary-text-color);
        text-align: center;
        margin-right: 10px;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        .contacts__mail:hover &,
        .contacts__mail:focus & {
            fill: var(--accent-text-color);
        }
        .contacts__tel:hover &,
        .contacts__tel:focus & {
            fill: var(--accent-text-color);
        }
    }