.section__title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--header-color);
    @media screen and (min-width: 1199px) {
        margin-bottom: 50px;
    }
}