.section {
    padding-top: 94px;
    padding-bottom: 94px;
    @media screen and (max-width: 768px) {
        padding-top: 40px;
    }
}

.section.no-padding {
    padding-top: 0;
    padding-bottom: 0;
}